.home-main-container {
  position: relative;
  width: 100%;
  height: 80vh;
}

/* Image container styling */

.my-image-container {
  position: absolute;
  top: 5vh;
  left: 8vw;
  overflow: hidden;
  width: 55vmin;
  height: 70vmin;
  border-radius: 42% 55% 76% 29% / 55% 43% 34% 32%;
  border: 3px solid #db399a;
  box-shadow: 0 0 0 10px #f9dded, 0 0 0 12px #e18fea;
  animation: blob 3.5s linear infinite;
}

@keyframes blob {

  0%,
  100% {
    border-radius: 42% 55% 76% 29% / 55% 43% 34% 32%;
  }

  33% {
    border-radius: 52% 29% 46% 66% / 28% 28% 56% 72%;
  }

  66% {
    border-radius: 100% 56% 46% 85% / 80% 80% 34% 32%;
  }
}

.my-image {
  background: url("../../assets/MyPic_NoBG-purple-T.png");
  background-blend-mode: normal;
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* Name Container styling */

.name-container {
  /* border: 1px solid; */
  position: absolute;
  top: 5vh;
  right: 8vw;
  text-align: right;
}

.name {
  font-size: 6rem;
  font-weight: 1000;
  line-height: 1.1;
  letter-spacing: 0.005rem;
  background: linear-gradient(65deg, black, black, black, white, black, black, black);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: color-animate 15s linear;
}

@keyframes color-animate {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 100%;
  }
}

/* Intro container styling */

.intro-container {
  /* border: 1px solid; */
  position: absolute;
  left: 41vw;
  bottom: 14vh;
  width: 50vw;
  width: 650px;
  height: 15vh;
}

.intro {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.629);

  line-height: 1.6rem;
}

hr {
  border: none;
}

.intro:hover,
.intro:focus {
  transform: scale(1.06);
  transition: transform 2000ms;
}

/* Next button styling */

#next-button-image {
  width: 2vw;
  mix-blend-mode: overlay;
}

.next-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 2.5vw;
  border-radius: 15px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 48vw;
  margin-bottom: 8px;
  background-color: #f3f3f396;
  /* border: 1px solid; */
}

.next-button-container:hover {
  cursor: pointer;
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, .2);
}

/* Media quarries */
@media (max-width:420px) {
  .home-main-container {
    height: 87vh;
  }

  .my-image-container {
    top: 3.5vh;
    left: 21vw;
  }

  .name-container {
    top: 40vh;
    left: 10vw;
    text-align: center;
  }

  .name-container .name {
    font-size: 3rem;
    line-height: 1.1em;
  }

  .intro-container {
    top: 55vh;
    left: 20vw;
    width: 60vw;
    height: 25vh;
    text-align: center;
  }

  .intro-container .intro {
    font-size: .8rem;
    color: rgba(128, 128, 128, 0.87);  
  }

  hr {
    width: 75%;
    margin: auto;
    border: 1px solid black;
  }

  #next-button-image {
    width: 7vw;
  }
}

@media (max-width:1000px) {


  .next-button-container {
    left: 41vw;
    width: 19vw;
    height: 6.5vw;
    border-radius: 15px;
    padding: 5vw;
    margin-bottom: 10px;
  }

}
