.home-main-container {
  top: 0;
  position: relative;
  width: 100%;
}

/* Image container styling */

.my-image-container {
  position: absolute;
  top: 2.5vw;
  left: 9vw;
  overflow: hidden;
  width: 25vw;
  height: 34vw;
  border-radius: 42% 55% 76% 29% / 55% 43% 34% 32%;
  border: 3px solid #db399a;
  box-shadow: 0 0 0 10px #f9dded, 0 0 0 12px #e18fea;
  animation: blob 3.5s linear infinite;
}

@keyframes blob {

  0%,
  100% {
    border-radius: 42% 55% 76% 29% / 55% 43% 34% 32%;
  }

  33% {
    border-radius: 52% 29% 46% 66% / 28% 28% 56% 72%;
  }

  66% {
    border-radius: 100% 56% 46% 85% / 80% 80% 34% 32%;
  }
}

.my-image {
  background: url("../../assets/MyPic_NoBG-purple-T.png");
  background-blend-mode: normal;
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* Name Container styling */

.name-container {
  position: absolute;
  top: 6vw;
  right: 6.5vw;
  text-align: right;
}

.name {
  font-size: 6rem;
  font-weight: 1000;
  line-height: 1.1;
  letter-spacing: 0.005rem;
  background: linear-gradient(65deg, black, black, black, white, black, black, black);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: color-animate 15s linear;
}

@keyframes color-animate {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 100%;
  }
}

/* Intro container styling */

.intro-container {
  position: absolute;
  top: 25vw;
  left: 42vw;
  width: 65ch;
  height: 10vw;
}

.intro {
  font-size: 1.075rem;
  cursor: pointer;
  line-height: 1.8rem;
  letter-spacing: 0.016em;
}

hr {
  border: none;
}

.intro:hover,
.intro:focus {
  transform: scale(1.06);
  transition: transform 2000ms;
}

@media (width >=1280px) and (height >=800px) {
  .my-image-container {
    top: 16vh;
  }

  .name-container {
    top: 22vh;
  }

  .intro-container {
    top: 50vh;
  }
}

@media (width >=931px) and (width <=1300px) {
  .my-image-container {
    top: 2.5vw;
    left: 7.5vw;
    width: 23vw;
    height: 30vw;
  }

  .name-container {
    top: 4.5vw;
    right: 5.5vw;
  }

  .name {
    font-size: 5rem;
  }

  .intro-container {
    position: absolute;
    top: 22vw;
    left: 37vw;
    width: 60ch;
    height: 10vw;
  }

  .intro {
    font-size: .85rem;
    cursor: pointer;
    line-height: 1.7rem;
    letter-spacing: 0.015em;
  }
}

@media (width >=530px) and (width <=931px) {
  .my-image-container {
    top: 3.5vh;
    left: 30vw;
    width: 40vw;
    height: 55vw;
  }

  .name-container {
    top: 45.5vh;
    left: 12vw;
    width: 75vw;
    height: 34vw;
    text-align: center;
  }

  .intro-container {
    top: 68vh;
    left: 17vw;
    width: 55ch;
    height: 24vw;
    text-align: center;
  }

  .intro {
    font-size: 1.275rem;
    cursor: pointer;
    line-height: 1.8rem;
    letter-spacing: 0.016em;
  }
}

@media (width >=420px) and (width <=531px) {}

@media (width >= 390px) and (width <430px) {

  .my-image-container {
    position: absolute;
    top: 2svh;
    left: 25vw;
    overflow: hidden;
    width: 25svh;
    height: 35svh;
    border-radius: 42% 55% 76% 29% / 55% 43% 34% 32%;
    border: 2px solid #db399a;
    box-shadow: 0 0 0 5px #f9dded, 0 0 0 6px #e18fea;
    animation: blob 3.5s linear infinite;
  }

  .name-container {
    top: 39svh;
    left: 7.5vw;
    text-align: center;
  }

  .name-container .name {
    font-size: 3rem;
    line-height: 1.15em;
  }

  .intro-container {
    top: 57svh;
    left: 10vw;
    width: 33ch;
    height: 25svh;
    text-align: center;
  }

  .intro-container .intro {
    font-size: .8rem;
  }

  hr {
    width: 50vw;
    margin: auto;
    border: 1px solid black;
  }
}

@media (width >= 330px) and (width <=390px) {
  .my-image-container {
    position: absolute;
    top: 2svh;
    left: 25vw;
    overflow: hidden;
    width: 25svh;
    height: 35svh;
    border-radius: 42% 55% 76% 29% / 55% 43% 34% 32%;
    border: 2px solid #db399a;
    box-shadow: 0 0 0 5px #f9dded, 0 0 0 6px #e18fea;
    animation: blob 3.5s linear infinite;
  }

  .name-container {
    top: 39svh;
    left: 7.5vw;
    text-align: center;
  }

  .name-container .name {
    font-size: 3rem;
    line-height: 1.15em;
  }

  .intro-container {
    top: 57svh;
    left: 8.5vw;
    width: 30ch;
    height: 25svh;
    text-align: center;
  }

  .intro-container .intro {
    font-size: .7rem;
  }

  hr {
    width: 50vw;
    margin: auto;
    border: 1px solid black;
  }
}

/* For iPhones 5 & SE */

@media (width < 330px) {

  .my-image-container {
    top: 3vw;
    left: 35vw;
    width: 30vw;
    height: 45vw;
    border: 2px solid #db399a;
    box-shadow: 0 0 0 5px #f9dded, 0 0 0 6px #e18fea;
  }

  .name-container {
    top: 53.5vw;
    left: 8vw;
    text-align: center;
  }

  .name-container .name {
    font-size: 1.2rem;
    line-height: 1.15em;
  }

  .intro-container {
    top: 70vw;
    left: 11vw;
    width: 25ch;
    height: 52vw;
    text-align: center;
  }

  .intro {
    font-size: 0.6rem;
    cursor: pointer;
    line-height: 1.2rem;
    letter-spacing: 0.013em;
  }
}

.color-mode-dark {
  color: #ffffff;
}

.color-mode-light {
  color: #000000;
}