.sub-projects{
  display: grid;
  place-items: center;
}
.project-image.landscape{
  width: 70%;
  aspect-ratio: 4/2;
  border: .5px solid black;
}

.comming-soon-image{
  aspect-ratio: 6/5;
  width: 55%;
  border: none;
  mix-blend-mode: normal;
}

.paragraph{
  width: 65ch;
}

@media (width<=430px) {
  .project-image.landscape{
    width: 90%;
    aspect-ratio: 4/2;
    border: .5px solid black;
  }

  .paragraph{
    font-size:.8rem !important ;
    line-height: 1.5rem;
    width: 33ch;
  }

  .comming-soon-image{
    border: .5px solid black;
    width: 60%;
    aspect-ratio: 6/5;
    border: none;
    mix-blend-mode: normal;
  }
}