* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Merriweather', serif;
  background: linear-gradient(45deg, #80A6C38d, #547B96, #002D44e5, #29526C, #547B96, #80A6C38d), url('./assets/backgroundImg1.jpg');
  background: linear-gradient(45deg, #e7f0f88d, #e7f0f8, #add4f2e5, #add4f2c0, #f1f5ffb3, #f1f5ff), url('./assets/backgroundImg1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}
