* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Merriweather', serif;
  background: linear-gradient(45deg, #80A6C38d, #547B96, #002D44e5, #29526C, #547B96, #80A6C38d), url('./assets/backgroundImg1.jpg');
  background: linear-gradient(45deg, #e7f0f88d, #e7f0f8, #add4f2e5, #add4f2c0, #f1f5ffb3, #f1f5ff), url('./assets/backgroundImg1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
}

/* Styling of All main-container */

/* .home-main-container,
.about-main-container,
.contacts-main-container,
.projects-main-container {
  position: relative;
  width: 100%;
  height: 80vh;
} */


/* Next Button Styling */

/* .next-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 2.5vw;
  border-radius: 15px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 48vw;
  margin-bottom: 8px;
  background-color: #f3f3f396;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px snow;
  border: 1px solid;
} */

/* @media (max-width:1000px) {


  .next-button-container {
    left: 41vw;
    width: 19vw;
    height: 6.5vw;
    border-radius: 15px;
    padding: 5vw;
    margin-bottom: 10px;
  }

} */